# Git
.git
.gitignore

# Python/Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.venv/
venv/
env/

# IDE/OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs & Media
logs/
media/
*.log

# Docker
docker-compose.yml
Jenkinsfile